* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {

}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.tile {
	width: 100vw;
	height: 100vh;
	background: url(../img/tile.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
}

.title {
	font-family: 'Rouge Script', cursive;
	color: #4C4D49;
	font-size: 44px;
	margin: 10px 10px 0;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

.enter {
	color: #CDA53A;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}



main div {
	text-align: center;
}

.bg-white-trans {
	background: rgba(255, 255, 255, .9);
	border-radius: 8px;
	margin: 150px 20px 0;
}

@media screen and (min-width: 600px) {
	.title {
		font-size: 64px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.enter {
		font-size: 42px;
	}
}

@media screen and (min-width:768px ) {
	.title {
		font-size: 80px;
	}

	.enter {
		font-size: 48px;
	}
}

@media screen and (min-width:1024px) {
	.title {
		font-size: 96px;
		margin-left: 30px;
		margin-right: 30px;
	}
}